<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="javascript:void(0)" class="brand-link">
    
      <span class="brand-text font-weight-light ml-4"> LMS Admin Panel</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="dist/img/mypic.jpeg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="javascript:void(0)" class="d-block">Sajal Gupta</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->


               <li class="nav-item">
                <a href="/admin" class="nav-link">
                  <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p>
                    Dashboard
                  </p>
                </a>
                </li>


         
                <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-th"></i>
                      <p>
                        Category
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <a href="/admin/add-category" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>Add Category</p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="/admin/list-category" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>List Catgory</p>
                        </a>
                      </li>
                    </li>
</ul>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                          <i class="nav-icon fas fa-edit"></i>
                          <p>
                            Book
                            <i class="right fas fa-angle-left"></i>
                          </p>
                        </a>
                        <ul class="nav nav-treeview">
                          <li class="nav-item">
                            <a href="/admin/add-book" class="nav-link">
                              <i class="far fa-circle nav-icon"></i>
                              <p>Add Book</p>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a href="/admin/list-book" class="nav-link">
                              <i class="far fa-circle nav-icon"></i>
                              <p>List Book</p>
                            </a>
                          </li>
                        </li>
                    </ul>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                              <i class="nav-icon fas fa-users"></i>
                              <p>
                                User
                                <i class="right fas fa-angle-left"></i>
                              </p>
                            </a>
                            <ul class="nav nav-treeview">
                              <li class="nav-item">
                                <a href="/admin/add-user" class="nav-link">
                                  <i class="far fa-circle nav-icon"></i>
                                  <p>Add User</p>
                                </a>
                              </li>
                              <li class="nav-item">
                                <a href="/admin/list-user" class="nav-link">
                                  <i class="far fa-circle nav-icon"></i>
                                  <p>List User</p>
                                </a>
                              </li>
                            </li> 
                         </ul>
             
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                  <i class="nav-icon fas fa-table"></i>
                                  <p>
                                    Issue Management
                                    <i class="right fas fa-angle-left"></i>
                                  </p>
                                </a>
                                <ul class="nav nav-treeview">
                                  <li class="nav-item">
                                    <a href="/admin/issue-a-book" class="nav-link">
                                      <i class="far fa-circle nav-icon"></i>
                                      <p>Issue a Book</p>
                                    </a>
                                  </li>
                                  <li class="nav-item">
                                    <a href="/admin/list-issue-book" class="nav-link">
                                      <i class="far fa-circle nav-icon"></i>
                                      <p>Issue History</p>
                                    </a>
                                  </li>
                                </li>
                            </ul>



                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                      <i class="nav-icon fas fa-table"></i>
                                      <p>
                                        Return Management
                                        <i class="right fas fa-angle-left"></i>
                                      </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                      <li class="nav-item">
                                        <a href="/admin/return-a-book" class="nav-link">
                                          <i class="far fa-circle nav-icon"></i>
                                          <p>Return a Book</p>
                                        </a>
                                      </li>
                                      <li class="nav-item">
                                        <a href="/admin/return-list" class="nav-link">
                                          <i class="far fa-circle nav-icon"></i>
                                          <p>Return History</p>
                                        </a>
                                      </li>
                                    </li>

                                </ul>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                          <i class="nav-icon fas fa-cog"></i>
                                          <p>
                                            Settings
                                            <i class="right fas fa-angle-left"></i>
                                          </p>
                                        </a>
                                        <ul class="nav nav-treeview">
                                          <li class="nav-item">
                                            <a href="/admin/currency-settings" class="nav-link">
                                              <i class="far fa-circle nav-icon"></i>
                                              <p>Currency Settings </p>
                                            </a>
                                          </li>
                                          <li class="nav-item">
                                            <a href="/admin/day-settings" class="nav-link">
                                              <i class="far fa-circle nav-icon"></i>
                                              <p>Day Settings</p>
                                            </a>
                                          </li>
                                        </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>